* {
  box-sizing: border-box;
  outline: none !important; }

html {
  scroll-behavior: smooth; }

body {
  margin: 0 auto; }

/* grid */
.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

@media (max-width: 768px) {
  .col-s-1 {
    width: 8.33%; }

  .col-s-2 {
    width: 16.66%; }

  .col-s-3 {
    width: 25%; }

  .col-s-4 {
    width: 33.33%; }

  .col-s-5 {
    width: 41.66%; }

  .col-s-6 {
    width: 50%; }

  .col-s-7 {
    width: 58.33%; }

  .col-s-8 {
    width: 66.66%; }

  .col-s-9 {
    width: 75%; }

  .col-s-10 {
    width: 83.33%; }

  .col-s-11 {
    width: 91.66%; }

  .col-s-12 {
    width: 100%; } }
@media (max-width: 576px) {
  .col-sx-1 {
    width: 8.33%; }

  .col-sx-2 {
    width: 16.66%; }

  .col-sx-3 {
    width: 25%; }

  .col-sx-4 {
    width: 33.33%; }

  .col-sx-5 {
    width: 41.66%; }

  .col-sx-6 {
    width: 50%; }

  .col-sx-7 {
    width: 58.33%; }

  .col-sx-8 {
    width: 66.66%; }

  .col-sx-9 {
    width: 75%; }

  .col-sx-10 {
    width: 83.33%; }

  .col-sx-11 {
    width: 91.66%; }

  .col-sx-12 {
    width: 100%; } }
.col-offset-1 {
  margin-left: 8.33%; }

.col-offset-2 {
  margin-left: 16.66%; }

.col-offset-3 {
  margin-left: 25%; }

.col-offset-4 {
  margin-left: 33.33%; }

.col-offset-5 {
  margin-left: 41.66%; }

.col-offset-6 {
  margin-left: 50%; }

.col-offset-7 {
  margin-left: 58.33%; }

.col-offset-8 {
  margin-left: 66.66%; }

.col-offset-9 {
  margin-left: 75%; }

.col-offset-10 {
  margin-left: 83.33%; }

.col-offset-11 {
  margin-left: 91.66%; }

.col-offset-12 {
  margin-left: 100%; }

.row::before,
.row::after {
  content: "";
  display: table;
  clear: both; }

[class*="col-"] {
  float: left;
  min-height: 1px;
  padding: 0px; }

header {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1; }
  header .other {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-flow: row;
    padding: 0 10px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.45); }
    header .other .aone {
      border-left: 5px solid #c6c4c5;
      background-color: rgba(103, 98, 98, 0.35);
      width: 15%;
      text-align: center;
      line-height: 27px;
      transition: all 0.5s ease-in-out; }
      header .other .aone:last-child {
        border-right: 5px solid #c6c4c5; }
      header .other .aone:hover {
        border-left: 5px solid #222;
        background-color: #c6c4c5;
        color: #222;
        transition: all 0.5s ease-in-out;
        font-size: 20px;
        width: 20%; }
    header .other a {
      text-decoration: none;
      color: black;
      font-size: 20px;
      font-family: 'Roboto', sans-serif;
      padding: 6px 0px;
      display: inline-block; }

.main {
  background-image: url(img/code.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  min-height: 770px;
  position: relative;
  border-bottom: 2px solid #222; }
  .main .welcome-text {
    padding: 30px 70px 50px 160px;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 0px 3px 3px 0;
    display: inline-block;
    position: absolute;
    top: 20%; }
    .main .welcome-text h1 {
      text-align: center;
      color: #222;
      font-size: 3.5vw;
      font-family: 'Charm', cursive;
      margin-bottom: -30px; }
    .main .welcome-text h2 {
      text-align: center;
      color: #fff;
      font-size: 3vw;
      font-family: 'Charm', cursive; }
    .main .welcome-text p {
      text-align: center;
      color: #fff;
      font-size: 1.5vw;
      font-family: 'Doppio One', sans-serif; }
      .main .welcome-text p span {
        color: #222; }
  .main .main-arrow {
    text-align: center;
    margin-top: -5%;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%); }
    .main .main-arrow a i {
      font-size: 3vw;
      height: 2vw;
      width: 2vw;
      color: #222;
      cursor: pointer; }

.about {
  overflow: hidden;
  height: 100vh;
  min-height: 770px; }
  .about div .about-text {
    text-align: center;
    width: 400px;
    margin: 0px 170px 0 100px; }
    .about div .about-text p {
      text-align: center;
      border-top-width: 5px;
      border-top-style: solid;
      border-top-color: #bcbcbc;
      margin-top: 50px;
      padding-top: 20px;
      font-size: 17px; }
      .about div .about-text p span {
        color: #222; }
  .about div .photo img {
    height: 30vw; }
  .about div .left-arrow {
    float: right; }
    .about div .left-arrow a i {
      font-size: 3vw;
      color: #222;
      cursor: pointer;
      padding-right: 25px; }
  .about div .right-arrow {
    float: left; }
    .about div .right-arrow a i {
      font-size: 3.5vw;
      color: #222;
      cursor: pointer;
      padding-left: 25px; }
  .about div .technology-title {
    text-align: center;
    margin-top: 40px; }
    .about div .technology-title p {
      color: #222;
      font-size: 34px; }
  .about div .technology-position {
    height: 170px;
    background-position: center;
    background-size: cover;
    justify-content: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex; }
    .about div .technology-position img {
      height: 6.6vw; }
  .about div .left-arrow {
    position: absolute;
    bottom: -99%;
    left: 45%;
    float: right; }
    .about div .left-arrow a i {
      font-size: 3vw;
      color: #222;
      cursor: pointer;
      padding-right: 25px; }
  .about div .right-arrow {
    float: left;
    position: absolute;
    bottom: -99%; }
    .about div .right-arrow a i {
      font-size: 3vw;
      color: #222;
      cursor: pointer;
      padding-left: 25px; }

.projects {
  background-color: #c6c4c5;
  border-top: 2px solid #222;
  border-bottom: 2px solid #222;
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: cover;
  min-height: 770px; }
  .projects h1 {
    text-align: center;
    color: #222;
    padding-top: 30px;
    font-size: 34px;
    margin: 0 auto;
    font-family: 'Doppio One', sans-serif; }
  .projects div .projects-position {
    height: 28vh;
    width: 34vh;
    margin: 0 auto;
    margin-top: 85px; }
    .projects div .projects-position .projects-style {
      height: 28vh;
      background-position: center;
      background-size: cover;
      transition: all 0.5s ease; }
      .projects div .projects-position .projects-style .about-projects {
        position: absolute;
        height: 28vh;
        width: 34vh;
        background-color: rgba(255, 255, 255, 0.9);
        visibility: hidden;
        text-align: center;
        z-index: 2; }
        .projects div .projects-position .projects-style .about-projects p {
          margin: 0;
          text-align: center;
          padding: 35px 10px 40px 10px;
          font-size: 15px;
          color: #222; }
        .projects div .projects-position .projects-style .about-projects .demo-button {
          margin-top: 25px; }
          .projects div .projects-position .projects-style .about-projects .demo-button a {
            text-decoration: none;
            border-radius: 3px;
            border: none;
            font-size: 0.9rem;
            background: #222;
            color: #fff;
            text-align: center;
            font-weight: bold;
            padding: 10px 30px; }
    .projects div .projects-position .game {
      background-image: url(img/vanilla-js.png); }
    .projects div .projects-position .country {
      background-image: url(img/countrySearch.png); }
    .projects div .projects-position .random {
      background-image: url(img/randommachine.png); }
    .projects div .projects-position .kanban {
      background-image: url(img/kanban.png); }
    .projects div .projects-position .gif {
      background-image: url(img/gifSearch.png); }
    .projects div .projects-position .components {
      background-image: url(img/components.png); }
  .projects div .left-arrow {
    position: absolute;
    bottom: 1%;
    float: right;
    margin: 0;
    left: 45%; }
    .projects div .left-arrow a i {
      font-size: 3vw;
      color: #222;
      cursor: pointer;
      padding-right: 25px; }
  .projects div .right-arrow {
    position: absolute;
    bottom: 1%;
    float: left;
    margin: 0; }
    .projects div .right-arrow a i {
      font-size: 3vw;
      color: #222;
      cursor: pointer;
      padding-left: 25px; }

.contact {
  height: 65vh;
  width: 100%;
  margin: auto;
  padding-top: 47px;
  min-height: 35vw; }
  .contact div h1 {
    color: #222;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 80px;
    font-size: 34px;
    font-family: 'Doppio One', sans-serif; }
  .contact div div {
    padding-right: 15px;
    padding-left: 15px; }
    .contact div div .form-control {
      display: block;
      width: 100%;
      padding: 0.375rem 0.75rem;
      background-color: #fff;
      background-clip: padding-box;
      font-size: 14px;
      border-radius: 0;
      color: #222;
      border: 0;
      border-bottom: 2px solid #222;
      padding-left: 15px;
      padding-right: 15px;
      text-decoration: none; }
  .contact div textarea {
    margin-top: 120px; }
  .contact div div {
    text-align: center !important; }
    .contact div div button {
      display: inline-block;
      background-color: #222;
      border: 2px solid;
      color: #fff;
      padding: 10px 20px;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 600;
      border-radius: 4px;
      cursor: pointer;
      margin-top: 50px; }

footer {
  height: 50px;
  border-top-color: black;
  border-top-width: 3px;
  border-top-style: solid;
  background-color: #c6c4c5; }
  footer div {
    height: 47px; }
    footer div p {
      margin-left: 50px;
      color: #222;
      margin-right: 50px;
      font-size: 16px;
      font-family: 'Doppio One', sans-serif; }
  footer div div {
    display: inline-block; }
    footer div div a {
      text-decoration: none;
      margin: 10px 10px 0px 25px; }
      footer div div a i {
        font-size: 24px;
        color: #222;
        margin: 10px 20px 0px 25px;
        animation-play-state: paused; }

@media (min-width: 769px) {
  .projects div .projects-position .projects-style:hover {
    transform: scale(1.2); }
    .projects div .projects-position .projects-style:hover .about-projects {
      visibility: visible; }

  footer div div a i:hover {
    animation-play-state: running; } }
@media (max-width: 768px) {
  .main {
    height: 70vh; }
    .main div {
      padding-top: 40%; }
      .main div h1 {
        font-size: 4vw; }
      .main div h2 {
        font-size: 3.5vw; }
      .main div p {
        font-size: 2.5vw; }
    .main .main-arrow {
      margin-top: -13%; }
      .main .main-arrow a i {
        font-size: 5vw; }

  .about {
    height: 1080px; }
    .about div .about-text {
      margin: 0 auto; }
      .about div .about-text p {
        font-size: 18px; }
    .about div .photo {
      align-items: center; }
      .about div .photo img {
        margin-left: 30%; }
    .about div .technology-position {
      height: 90px; }
      .about div .technology-position img {
        width: 90px; }
    .about div .right-arrow a i {
      font-size: 4vw; }
    .about div .left-arrow a i {
      font-size: 4vw; }

  .projects {
    height: 1000px; }
    .projects div .projects-position {
      height: 20vh;
      width: 26vh; }
      .projects div .projects-position .projects-style {
        height: 20vh; }
        .projects div .projects-position .projects-style .about-projects {
          height: 20vh;
          width: 26vh;
          visibility: visible; }
          .projects div .projects-position .projects-style .about-projects p {
            padding: 35px 10px 20px 10px; }
          .projects div .projects-position .projects-style .about-projects .demo-button {
            margin-top: 2px; }
            .projects div .projects-position .projects-style .about-projects .demo-button a {
              font-size: 0.5rem; }

  .contact {
    height: 550px; }
    .contact h1 {
      font-size: 3vw; }
    .contact h3 {
      font-size: 2.3vw; }
    .contact p {
      font-size: 2.3vw; }

  footer div p {
    font-size: 12px; }
  footer div div a {
    margin: 10px 10px 0px 15px; }
    footer div div a i {
      margin: 10px 10px 0px 5px;
      font-size: 19px; } }
@media (max-width: 576px) {
  header .other .aone {
    width: 20%; }
  header .other .atwo {
    width: 20%; }
  header .other .athree {
    width: 20%; }
  header .other .afour {
    width: 20%; }

  .main .welcome-text h1 {
    line-height: 20px;
    padding-bottom: 20px; }
  .main .welcome-text p {
    font-size: 12px; }
  .main .main-arrow {
    margin-top: -15%; }
    .main .main-arrow a i {
      font-size: 8vw; }

  .about {
    height: 900px; }
    .about div .about-text p {
      font-size: 15px; }
    .about div .technology-position {
      height: 80px; }
      .about div .technology-position img {
        width: 80px; }

  .projects {
    height: 950px; }
    .projects div .projects-position {
      height: 18vh;
      width: 22vh; }
      .projects div .projects-position .projects-style {
        width: 22vh; }
        .projects div .projects-position .projects-style .about-projects {
          height: 20vh;
          width: 22vh; }
          .projects div .projects-position .projects-style .about-projects p {
            font-size: 17px;
            padding: 25px 10px 25px 10px; }
          .projects div .projects-position .projects-style .about-projects .demo-button {
            margin-top: 5px; }

  .contact {
    height: 500px; }
    .contact div div div button {
      margin-top: 20px; }

  footer div p {
    margin-left: 20px;
    margin-right: 30px; }
  footer div div a {
    margin: 10px 10px 0px 5px; }
    footer div div a i {
      font-size: 18px;
      margin: 10px 10px 0px 3px; } }

/*# sourceMappingURL=index.css.map */
